@model SatoshisMarketplace.Web.Models.User.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password Page";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Change Password
            </div>
            <div class="card-body">
                <form method="post" asp-action="ChangePassword" asp-controller="User" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="OldPassword" class="form-label">Old Password</label>
                        <input type="password" class="form-control" id="OldPassword" name="OldPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="NewPassword" class="form-label">New Password</label>
                        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required>
                    </div>
                    <div class="mb-3">
                        <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Change Password</button>
                </form>
            </div>
        </div>
     
        
    </div>
</div>