@model SatoshisMarketplace.Web.Models.User.RegistrationViewModel
@{
    ViewData["Title"] = "Registration Page";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                Registration
            </div>
            <div class="card-body">
                <form method="post" asp-action="Registration" asp-controller="User" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="Username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="Username" name="Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" name="Password" required>
                    </div>
                    <div class="mb-3">
                        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Register</button>
                </form>
                <a asp-controller="User" asp-action="Login" class="no-underline-link">You have an account?</a>
            </div>
        </div>
     
        
    </div>
</div>